<header id="header">
								<div class="inner">

									<!-- Logo -->
										<h1><a href="index.html" id="logo">Elisabeth Lassalle</a></h1>

									<!-- Nav -->
										<nav id="nav">
											<ul>
												<li class="current_page_item"><a href="index.html">accueil</a></li>
												<li>
													<a href="#">Réalisations</a>
													<ul>
														<li><a href="maisonLandaise.html">Maison Landaise</a></a></li>
														<li><a href="#">Magna phasellus</a></li>
														<li><a href="#">Veroeros feugiat</a></li>
													</ul>
												</li>
												<li><a href="left-sidebar.html">Tarifs</a></li>
												<li><a href="contact.html">Contact</a></li>
												<li><a href="no-sidebar.html">No Sidebar</a></li>
											</ul>
										</nav>

								</div>
							</header>